#form{
	display: inline-block;
	padding: 32px 48px 0px 48px;
	border: 2px solid #f3e5f5;
	background-image: url("love_couple_in_rain-wide.jpg") !important; 
}
.text{
	font-family: Mogra;
	color:#00695c ;
	font-size: 35px;
	text-align: justify-all;
	text-align: center;
}
.formtext{
	color: #f3e5f5;
}
#textarea1:focus+label{
	color: #e91e63;
}
#textarea1:focus
{
	border-bottom: 2px solid #e91e63;
      box-shadow: none;
  }
 .material-icons {
  color: white;
  }
  .material-icons:active, .material-icons:focus, .material-icons:hover{color:#e91e63 !important;}
 	.input-field input[type=radio]:focus + label,
    .input-field input[type=text]:focus + label ,
    .input-field input[type=email]:focus + label{
      color: #e91e63;
    }

    .input-field input[type=radio]:focus,
    .input-field input[type=text]:focus,
    .input-field input[type=email]:focus{
      border-bottom: 2px solid #e91e63;
      box-shadow: none;
    }
body{
	//background-color:  ;
	background-image: url("love_couple_in_rain-wide.jpg") !important;
	  background-size: cover;

}
.maindiv{
	position: absolute;
	right: 60%;
	left: 10%;
}
#male{
	display: inline;
}
#female{
	display: inline;
}
@media only screen and (max-width: 1300px) {
    .maindiv {
        position: absolute;
	right: 60%;
	left: 10%;
    }
}
@media only screen and (max-width: 1000px) {
    .maindiv {
        position: absolute;
	right: 50%;
	left:5%;
    }
 @media only screen and (max-width: 600px) {
    .maindiv {
        position: absolute;
	right: 15%;
	left: 15%;
    }
}
@media only screen and (max-width: 400px) {
    .maindiv {
        position: absolute;
	right: 5%;
	left: 5%;
    }
}
@media only screen and (max-width: 300px) {
    .maindiv {
        position: absolute;
	right: 4%;
	left: 4%;
    }
}
